body,
button {
  font-family: var(--exo);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: var(--exo);
}
:root {
  --exo: "Exo 2", sans-serif;
}
#intro {
  background-color: #05152f;
  color: white;
  background: url(images/bg-3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: var(--exo);
}
.intro-h1 {
  display: inline;
  margin-left: -258px;
}
.live-right h1 {
  font-size: 36px;
}
.button,
.pages {
  position: relative;
  color: white;
  border: none;
  background-color: transparent;
  padding: 9px 12px;
  border-radius: 7px;
  transition-duration: 0.4s;
  cursor: pointer;
  bottom: 6px;
  left: 130px;
  font-size: 14px;
  font-family: var(--exo);
}
.pages:hover,
.pages:focus {
  background-color: #000f2e;
  color: white;
}
.button:hover {
  background-color: #7ba435;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: var(--exo);
}
.intro-sub {
  position: relative;
  left: 100px;
}
.intro-cont {
  position: relative;
}
.fa-star {
  font-weight: 900;
  transform: rotate(-20deg);
  color: white;
  margin: 0 12px;
}
.fa-cart-shopping {
  color: white;
}
.arrow {
  filter: brightness(1000%);
}
.intro-left {
  margin-right: -230px;
}
.intro-navflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
}
.play_now {
  position: relative;
  color: white;
  border: none;
  padding: 16px 23px;
  border-radius: 7px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 1em;
  font-family: var(--exo);
}
.bg-green {
  background-color: #7ba435;
}
.play {
  background-color: white;
  padding: 15px 17px;
  border-radius: 80px;
  border: none;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  margin-left: 22px;
}

.play:hover {
  box-shadow: 0 0 17px rgba(253, 207, 207, 0.8);
}
.intro-right {
  position: relative;
  left: 6em;
  display: inline-block;
  margin-left: 100px;
}
.intro-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.intro-nav {
  padding: 2% 8%;
}
.intro-left h1 {
  font-size: 50px;
  line-height: 0.5;
}
.color {
  color: #7ba435;
}
hr {
  height: 0.85px;
  background-color: #7ba435;
  border: none;
  width: 25px;
  display: inline-block;
}
.inline-blo {
  display: inline-block;
}
#live-sec {
  background-color: #000f2e;
  color: white;
  font-family: var(--exo);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: -193px;
}
.text {
  display: inline-block;
  position: relative;
  bottom: 3px;
}
.live {
  position: relative;
  bottom: 146px;
  right: 264px;
  padding: 29px 30px;
  opacity: 0.7;
}
.live-img {
  width: auto;
  height: 300px;
  margin-left: 20%;
  margin-top: 20px;
}
.live-watch-img {
  width: 280px;
  height: auto;
}
.live-right {
  line-height: 20px;
  margin-left: -158px;
  padding-top: 27px;
}

.watch-button {
  border: none;
  background-color: white;
  clip-path: polygon(18% 33%, 85% 33%, 100% 48%, 86% 62%, 18% 62%, 0 48%);
  padding: 107px 46px;
  position: relative;
  left: 11em;
  margin: 0;
  bottom: 145px;
  font-family: var(--exo);
  font-size: 21px;
}
.watch-button a {
  position: relative;
  bottom: 5px;
}
.move {
  margin-left: -182px;
}
#upcoming {
  background-color: #06172e;
  color: white;
  padding-bottom: 54px;
}
.upcoming-1 h1 {
  font-size: 50px;
}
.upcoming-1 {
  text-align: center;
  position: relative;
  top: 54px;
}
.play-button {
  position: relative;
  left: 42%;
  top: 22px;
}
.sty {
  line-height: 2;
  margin-top: 40px;
}
.upcoming-img {
  width: 100px;
  height: auto;
  position: relative;
  top: 14px;
}
.upcoming-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: stretch;
  justify-items: center;
  row-gap: 34px;
  column-gap: 31px;
  /* margin-left: 16vw; */
  margin-top: 92px;
}
.upcoming-div {
  border-radius: 10px;
  border: 0.5px solid rgb(169, 169, 169, 0.2);
  padding: 20px;
  font-size: 0.7em;
  width: 235px;
}
.upcoming-div div:first-child img {
  width: 65px;
}

.upcoming-div div:first-child {
  text-align: center;
}

.upcoming-div div:nth-child(2) {
  border: 1px solid rgb(169, 169, 169, 0.7);
  border-radius: 21px;
  display: inline;
  padding: 8px 12px;
  position: relative;
  left: 61px;
  background-color: #05152f;
  z-index: 1;
  top: 8px;
}
.upcoming-div div:nth-child(2)::before {
  content: "";
}
.upcoming-bottom p:first-child {
  color: rgb(169, 169, 169, 0.7);
}
.upcoming-div div:nth-child(2) img {
  width: 10px;
}
.upcoming-div div:nth-child(2) p {
  color: #7ba435;
}

.upcoming-div:hover {
  border: 1px solid rgb(123, 164, 53);
}
.upcoming-div hr {
  width: 117%;
  position: relative;
  bottom: 16px;
  right: 20px;
  height: 0.85px;
  background-color: rgb(169, 169, 169, 0.2);
  border: none;
}

/* Count section */
#count {
  background-color: #000f2e;
  color: white;

  padding: 80px 0;
}

.count-sub-border {
  background-color: #7ba435;
  padding: 5px;
  border-radius: 10px;
  font-size: 8px;
  position: relative;
  bottom: 30px;
}

.sub {
  font-size: 43px;
  text-align: center;
  line-height: 0.2;
  margin: 0 43px;
}
.border {
  border: 0.5px solid rgb(169, 169, 169, 0.2);
  margin: 0 auto;
  width: fit-content;
  border-radius: 10px;
}
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Ending Section */
#ending {
  color: white;
  background-color: #000f2e;
}

.box-6 {
  background-color: #000f2e;
  height: fit-content;
  padding-top: 30px;
}

.box6top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 177px;
  background-color: #7ba435;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
}

.b6left {
  margin-left: 30px;
}

.b6left > h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 25px;
  padding-top: 20px;
}

.b6left > p {
  font-weight: 100;
  font-size: 15px;
  margin-top: 0;
  padding-bottom: 10px;
}

.search {
  display: flex;
  gap: 120px;
  align-items: space-around;
  background-color: white;
  height: fit-content;
  padding: 5px 8px;
  margin-top: 37px;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 10px;
}

.search > p {
  font-size: 10px;
  font-family: var(--exo);
  color: #0c1e35;
}

.search > button {
  background-color: #000f2e;
  height: fit-content;
  color: white;
  padding: 10px;
}

#foot-sec {
  background-color: #000f2e;
  color: white;
  font-size: 12px;
  padding-top: 92px;
}

.end-img {
  color: white;
  padding: 12px 14px;
  border-radius: 22px;
  background-color: rgb(31, 49, 69, 0.5);
  border: none;
}

.end-img:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.footer-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.footer-sub {
  position: relative;
  margin: 2% 2%;
}
.foot-height {
  margin-bottom: 57px;
}

@media only screen and (max-width: 900px) {
  .intro-h1 {
    margin-left: 0;
  }
  .intro-left {
    margin-right: 0;
  }
  #intro {
    text-align: center;
  }
  .intro-nav div {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    align-items: start;
    justify-items: center;
    align-content: center;
  }
  .button,
  .pages {
    top: 10px;
    bottom: 0;
    left: 0;
  }
  .intro-nav {
    padding: 0;
  }
  .intro-navflex {
    display: block;
  }
  .intro-sub {
    position: relative;
    top: 10px;
    left: 0;
    bottom: 30px;
  }
  .intro-flex {
    margin-top: 16px;
  }
  .intro-right {
    margin-left: 0;
    left: 0;
  }
  .live-right {
    line-height: 20px;
    position: relative;
    bottom: 228px;
    text-align: center;
    left: 63px;
  }
  .move {
    margin-left: 7px;
  }
  .upcoming-div div:first-child img {
    width: 4em;
  }
  .upcoming-grid {
    grid-template-columns: auto auto;
  }
  .sub {
    position: relative;
    font-size: 26px;
    margin: 0 33px;
    text-align: center;
    line-height: 1;
  }
  .count-border {
    margin: auto;
    width: 27%;
    border: 0.5px solid rgb(169, 169, 169, 0.2);
    border-radius: 13px;
    padding: 3vh 2vw;
    margin-bottom: 0;
    line-height: 1.3;
  }
  .count-sub-border {
    background-color: #7ba435;
    padding: 5px;
    border-radius: 10px;
    font-size: 8px;
    margin-left: 0;
  }
  .box6top {
    display: block;
    justify-content: center;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
  }

  .search {
    width: fit-content;
    margin: 10px auto;
  }
  .box6top {
    width: 607px;
  }
}

.demo div:first-child {
  padding: 57px;
  background-color: #06172e;
}
.demo div:nth-child(2) {
  padding: 14px;
  background-color: #001133;
}
@media only screen and (max-width: 710px) {
  .move img {
    width: 65vw;
    height: auto;
  }

  .play {
    margin: 0;
    left: 0;
  }
  .live {
    bottom: 22vw;
    left: -41vw;
    position: relative;
  }
  .watch-button {
    font-size: 2.7vw;
  }
  .box6top {
    width: 500px;
  }
}
@media only screen and (max-width: 600px) {
  .sub {
    font-size: 19px;
    line-height: 1.3;
  }
  .border {
    margin: 0 76px;
  }
  .box6top {
    width: 400px;
  }
  .b6left {
    margin-left: 0;
  }
  .b6left > p,
  .b6left > h1 {
    font-size: 15px;
  }
  .upcoming-grid {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 431px) {
  .move img {
    width: 270px;
    height: 186px;
  }
  .play {
    margin: 0;
    left: 92px;
    bottom: 249px;
  }
  .move span {
    bottom: -54px;
    position: relative;
    left: 80px;
  }
  .watch-button {
    left: 57px;
    padding: 104px 17px;
    bottom: 123px;
    font-size: 12px;
  }
  .live-right {
    left: 83px;
  }
  .upcoming-div {
    margin: 0 7px;
  }
}
