<nav class="navbar navbar-expand-lg">
    <div class="container-fluid nav-intro">
      <img src="../../assets/images/saketa-logo.svg" class="navbar-brand nav-img" href="#">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="title-lines">
                <p class="font-color">Employee Directory</p>
                <p>The Ultimate People Directory Experience</p>
            </div>
          </li>        
        </ul>
        <span class="welcome">
            <p><span class="welcome-text">Welcome</span>,Shyam</p>
            <span>
                <img src="../../assets/images/mine.jpg" class="nav-profile-img">
            </span>
        </span>
      </div>
    </div>
  </nav>