<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="../../assets/images/saketa-logo.svg" class="navbar-brand" href="#">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div>
                <p>Employee Directory</p>
                <p>The Ultimate People Directory Experience</p>
            </div>
          </li>        
        </ul>
        <span>
            <p style="display: inline;"><span>Welcome</span>,Shyam</p>
            <span>
                <img src="../../assets/images/mine.jpg" alt="" style="width:100px;">
            </span>
        </span>
      </div>
    </div>
  </nav>